# Ignore cloned repositories
repos/

# Ignore log files
logs/automation.log
logs/error.log

# Ignore JSON data files
data/automations.json
data/repos.json

# Ignore virtual environments
venv/
venv2/

# Ignore PyCharm project settings
.idea/